<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <span class="brand" data-bind="message"></span>
      <ul class="nav">
        <li><a data-route="Crime | routeToAction 'new'">Report a Crime</a></li>
        <li><a data-route="Villain | routeToAction 'index'">Villains</a></li>
      </ul>

      <form class="navbar-form pull-right">
        <input data-bind="message" class="span2" />
      </form>
    </div>
  </div>
</div>

<div data-yield="main" class="well" style="margin-top:70px"></div>
