<div class="hero-unit">
  <h1 data-bind="message"></h1>
  <input data-bind="message" />
</div>

<div class="well form-inline">
  <h1>who do we have here?</h1>

  <input data-bind="villain.fullName" />
  <a data-event-click="villain.save" class="btn btn-primary">Save</a>
</div>

<div class="well">
  <ul>
    <li data-foreach-villain="villains">
      <span data-bind="villain.fullName"></span>
    </li>
  </ul>
</div>

