<!DOCTYPE html>
<html>
<head>
  <title>BatmanWorkshop</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div data-bind="flash.success"></div>
<div data-bind="flash.error"></div>

<%= yield %>

</body>
</html>
